<a href="https://colab.research.google.com/github/mukeshgollen/NLPlay-with-transformers/blob/main/Sentiment_Analysis_Using_Bag_Of_Words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd /content/drive/MyDrive/archive

/content/drive/MyDrive/archive

In [ ]:
import pandas as pd
%matplotlib inline 
from matplotlib import pyplot as plt 
import numpy as np

In [ ]:
data = pd.read_csv('IMDB Dataset.csv')

In [ ]:
print(data.head(10))

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

 Let us first convert the sentiments into a form that could be understood by the computer. We can do it by assigning 1 calue to positive sentiment and 0 value for negative sentiment

In [ ]:
def Sentiment_conversion(sentiment):
  if sentiment =='positive':
    return  1
  else : return 0

In [ ]:
data['sentiment'] = [Sentiment_conversion(sentiment) for sentiment in data['sentiment']]

In [ ]:
print(data['sentiment'].head(10))

0    1
1    1
2    1
3    0
4    1
5    1
6    1
7    0
8    0
9    1
Name: sentiment, dtype: int64

In [ ]:
print(pd.value_counts(data['sentiment']))

1    25000
0    25000
Name: sentiment, dtype: int64

We have equal numbers of sentiments distributed randomly through out our data set

# **Text- Preprocessing**

In [ ]:
import nltk
from nltk import sent_tokenize
from nltk import word_tokenize
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import wordnet
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

**Word Tokeniizing**

In [ ]:
data['review'] =  [word_tokenize(sentence) for sentence in data['review']]

We could also have used regular expression for word tokenizing

In [ ]:
print(len(data['review'][1]))

201

**Removing Stopwords**

In [ ]:
stop_words = set(stopwords.words('english'))
for i in range(len(data['review'] )):
  pd.set_option('mode.chained_assignment',None)
  data['review'][i] = [word for word in data['review'][i] if word not in stop_words]

In [ ]:
print(len(data['review'][1]))
# We have stemmed a lot of words

136

In [ ]:
print(data['review'][1])

['A', 'wonderful', 'little', 'production', '.', '<', 'br', '/', '>', '<', 'br', '/', '>', 'The', 'filming', 'technique', 'unassuming-', 'old-time-BBC', 'fashion', 'gives', 'comforting', ',', 'sometimes', 'discomforting', ',', 'sense', 'realism', 'entire', 'piece', '.', '<', 'br', '/', '>', '<', 'br', '/', '>', 'The', 'actors', 'extremely', 'well', 'chosen-', 'Michael', 'Sheen', '``', 'got', 'polari', "''", 'voices', 'pat', '!', 'You', 'truly', 'see', 'seamless', 'editing', 'guided', 'references', 'Williams', "'", 'diary', 'entries', ',', 'well', 'worth', 'watching', 'terrificly', 'written', 'performed', 'piece', '.', 'A', 'masterful', 'production', 'one', 'great', 'master', "'s", 'comedy', 'life', '.', '<', 'br', '/', '>', '<', 'br', '/', '>', 'The', 'realism', 'really', 'comes', 'home', 'little', 'things', ':', 'fantasy', 'guard', ',', 'rather', 'use', 'traditional', "'dream", "'", 'techniques', 'remains', 'solid', 'disappears', '.', 'It', 'plays', 'knowledge', 'senses', ',', 'particularly', 'scenes', 'concerning', 'Orton', 'Halliwell', 'sets', '(', 'particularly', 'flat', 'Halliwell', "'s", 'murals', 'decorating', 'every', 'surface', ')', 'terribly', 'well', 'done', '.']

**Removing Punctuation**

In [ ]:
for i in range(len(data['review'] )):
  pd.set_option('mode.chained_assignment',None)
  data['review'][i] = [word for word in data['review'][i] if word not in string.punctuation]

In [ ]:
print(len(data['review'][1]))
# We are getting better at this

101

I haven't followed the correct order first of all we should have removed the punctuation marks from our dataset .It worked unitl time is not an issue for us

**Stemming**

In [ ]:
ps = PorterStemmer()
for i in range(len(data['review'] )):
  pd.set_option('mode.chained_assignment',None)
  data['review'][i] = [ps.stem(word) for word in data['review'][i] ]

**Lemmetizing**

In [ ]:
lm = WordNetLemmatizer()
for i in range(len(data['review'] )):
  pd.set_option('mode.chained_assignment',None)
  data['review'][i] = [lm.lemmatize(word) for word in data['review'][i]]

AHH ! finally our cleaned data is here

In [ ]:
Cleaned_data = pd.DataFrame(data['review'])
Cleaned_data.join(data['sentiment'])

                                                  review  sentiment
0      [one, review, mention, watch, 1, Oz, episod, '...          1
1      [A, wonder, littl, product, br, br, the, film,...          1
2      [I, thought, wonder, way, spend, time, hot, su...          1
3      [basic, 's, famili, littl, boy, jake, think, '...          0
4      [petter, mattei, 's, ``, love, time, money, ''...          1
...                                                  ...        ...
49995  [I, thought, movi, right, good, job, It, n't, ...          1
49996  [bad, plot, bad, dialogu, bad, act, idiot, dir...          0
49997  [I, cathol, taught, parochi, elementari, schoo...          0
49998  [I, 'm, go, disagre, previou, comment, side, m...          0
49999  [No, one, expect, star, trek, movi, high, art,...          0

[50000 rows x 2 columns]

In [ ]:
Cleaned_data.to_csv('Cleaned_data.csv')